* {
    font-family: 'Cabin', sans-serif;
}


body {
    background-color: #f3f3f3;
    color: var(--dark-blue);
}

:root {
    --1blue: #1061BF;
    --dark-blue: #061C42;
    --light-gray: #ABB5BE;
    --gray: #68717A;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

ul li {
    list-style-type: none;
}

ul {
    padding: 0 !important;
}

/* ------------LOGIN------------ */
.row .login {
    height: 100%;
    padding: 0;
}

.bg-right {
    background-color: var(--1blue);
    background-image: url(../assets/img/login-img.png);
    height: 100vh;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-block {

    background: linear-gradient(154.35deg, rgba(255, 255, 255, 0.81) 2.6%, rgba(255, 255, 255, 0.63) 98.31%);
    height: 432px;
    border-radius: 10px;
    width: 344px;
}

#logo-login {
    margin-bottom: 32px;
}



.form-check-label {
    font-size: 12px;
}

.form-check {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: var(--1blue);
}



.container-socials {

    margin-top: 132px;

    position: absolute;
    bottom: 44px;
}

.container-socials i {
    margin-right: 8px;

}

.container-socials a {
    color: white;
}

#email-login,
#pw-login,
#email-request,
.btn-login {
    width: 252px;
}

#email-request {
    margin: 0 auto;
    margin-bottom: 8px;
}

#forgot-pass {
    margin-top: 16px;
}

a#forgot-pass:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--1blue);
    transition: 300ms;
}

a#forgot-pass:hover::after {
    width: 100%;
    color: var(--1blue);
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--1blue);
}

/* ------------REQUEST PASSWORD------------ */

#logo-request {
    width: 72px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.text-center {
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 32px;
}

#email-login {
    margin-bottom: 8px;
}

a#back-login {
    color: var(--dark-blue);
    margin-top: 20px;
    font-weight: 600;
}

a#back-login:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--dark-blue);
    transition: 300ms;
}

a#back-login:hover::after {
    width: 100%;
    color: var(--dark-blueblue);
}

#forgot-title {
    margin-bottom: -5px;
}

/* ------------DASHBOARD------------ */
/* .container-teste {
    padding-left: 24px;
    padding-right: 24px;
} */


.side-menu-mobile {
    background-color: #F3F3F3;
    position: absolute !important;
    width: 0px;
    height: 100vh;
    z-index: 999;
    transition: width 0.2s;
    overflow: hidden;

}

.mobile-container {
    position: relative;
    text-align: center;
}

.img-side-menu-mob {
    padding-top: 72px;
    width: 248px;
    margin-bottom: 100px;

}


.right {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 24px;
    margin-right: 24px;
    display: block;
}


.icons-menu {
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li {
    margin-bottom: 30px;

}

nav ul li hr {
    margin: 0 32px;
}

nav ul li a {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 10px 0;
    margin-left: 32px;
    color: var(--1blue);

}

nav ul li a p {
    margin: 0;
    width: 200px;
    text-align: left;
    margin-left: 60px;
    color: var(--dark-blue);
    font-weight: 600;

}

nav ul li a i {
    text-align: center;
}


.topbar a {
    color: var(--1blue);
}

.active {
    width: 320px;
    transition: width 0.2s;
}

.profile img {
    border-radius: 20px;
}

.profile .dropdown {
    display: inline-block;
}

.profile .dropdown-toggle::after {
    display: none;
}


.topbar {
    padding-top: 40px;
    padding-bottom: 16px;
    padding-left: 18px;
    padding-right: 18px;
}

.user-name {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;

}

.user-name-name {
    font-weight: 600;
}

hr {
    color: var(--dark-blue);
}

.text-inf {
    font-weight: 800;
    font-size: 16px;
    color: var(--dark-blue);
    margin-top: 24px !important;
}

.btn-dash {
    height: 140px;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 100%;

    padding: 20px;

}

button.btn-primary {
    background-color: var(--1blue);
    border: none;
}

.btn-dash i {
    color: white;
    margin-bottom: 10px;
}

.btn-dash p {
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 10px;
}

.btn-dash h3 {
    line-height: 0px;
    font-size: 18px;
    font-weight: 600;
}


.event-card {
    border-radius: 4px;
    margin-bottom: 16px;

}

.event-card-text {
    padding: 16px;
}


.event-card h3 {
    font-weight: 800;
    font-size: 20px;
    color: var(--dark-blue);
}

.event-card p {
    font-size: 16px;
    color: var(--gray)
}

#card-date {
    font-size: 12px;
    color: var(--light-gray);
}

#img-dinner {
    width: 100%;
    border-radius: 4px;
    height: 107px;
    object-fit: cover;
}

.shadow {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

}

.promo-dash {
    height: 140px;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 32px 18px;
    color: white;

}

.promo-dash p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;

}

.promo-dash h2 {
    line-height: 10px;
    font-size: 24px;
    font-weight: 800;
}

.promo-dash h3 {
    font-size: 14px;
    font-weight: 800;
}

#promo1 {
    background-image: url(../assets/img/promo1.png);
    overflow: hidden;
    background-size: cover;
    position: relative;

}

#promo2 {
    background-image: url(../assets/img/promo2.png);
    background-size: cover;
    position: relative;
}

#promo3 {
    background-image: url(../assets/img/promo3.png);
    background-size: cover;
    position: relative;
}

.fa-gift {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    margin-top: 24px;
    margin-right: 24px;
}

.hide-mobile {
    display: none;
}

.hide-web {
    display: block;
}

.hide-md {
    display: block;
}

/* media querries */


/* tablet */
@media (min-width: 768px) {
    .login-block {
        width: 500px;
        height: 700px;
    }

    #logo-login {
        width: 364px;
    }

    #email-login,
    #pw-login,
    #email-request,
    .btn-login {
        width: 100%;
    }

    #logo-request {
        width: 140px;
    }

    .hide-md {
        display: none;
    }

    .hide-mobile {
        display: none;
    }

    .cancel-hide {
        display: block;
    }
}





/* web */
@media (min-width: 992px) {


    /* Login */

    #logo-login {
        margin-bottom: 72px;
        width: 512px;
    }

    #email-login {
        margin-bottom: 24px;
    }

    #pass-login {
        margin-bottom: 8px;
    }


    .bg-left {
        background-color: var(--1blue);
        background-image: url(../assets/img/login-img.png);
        padding: 15% 3% 0 3%;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .bg-left h1 {
        font-weight: bold;
        font-size: 64px;
        color: white;
    }

    .bg-left p {
        font-size: 24px;
        color: white;
    }

    .group-icon-login {
        margin-top: 290px;

    }

    .group-icon-login i {
        color: white;
        margin-right: 8px;
    }

    .bg-right {
        background: none;
    }

    #email-login,
    #pw-login,
    #email-login,
    #pass-login,
    #email-request,
    .btn-login {
        width: 540px;
        height: 64px;
    }

    /* request */

    #logo-request {
        width: 148px;
    }

    #p-request {
        margin-bottom: 42px;
    }

    #email-request {
        margin-bottom: 24px;
    }

    #forgot-pass {
        margin-top: 0px;
    }

    #request-title {
        font-size: 48px;
    }

    .login-block {
        background: none;
    }

    .user-name {
        display: inline-block !important;
    }

    .hide-mobile {
        display: block;
    }

    .hide-web {
        display: none;
    }

    .hide-md {
        display: none;
    }

    .topbar {
        padding-top: 20px;
        width: 1658px !important;
    }


    .text-btn-dash {
        display: inline-block;
        text-align: left;
        margin-left: 20px;
    }

    .event-card {
        height: 296px;
    }

    .promo-dash {
        height: 200px;
    }

    .partners {
        padding-top: 100px;
    }

    /* side-menu */
    .side-menu {
        height: 100vh;
        width: 100px;
        background-color: #F3F3F3;
        z-index: 999;
        display: inline-block;
        position: absolute;
        text-align: center;
        padding-top: 60px;
        overflow: hidden;
        transition: width 0.2s;
    }


    .open-side-menu {
        margin-top: 22px;
        color: var(--1blue);
    }

    .icons-pages {
        margin-top: 128px;
        color: var(--1blue);
    }


    .side-menu button {
        border: none;
        background-color: transparent;
    }

    .side-menu-active {
        width: 332px;
    }




    .logo-active {
        max-width: 280px;
    }

    .iconrotation {
        transform: rotate(180deg);

    }

    #img-sidemenu {
        cursor: pointer;
    }

    .event-card {
        position: relative;
    }

    #img-dinner {
        display: inline-block;
        width: 216px;
        height: 100%;
        position: absolute;
    }

    .event-card-text {
        margin-left: 216px;
    }

    .event-card-text h3 {
        margin-top: 8px;
    }

    .event-card-text p {
        margin-top: 24px;
    }

    #card-date {
        margin-top: 80px;
    }
}