* {
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: #f3f3f3;
    color: var(--dark-blue);
}

:root {
    --1blue: #1061BF;
    --dark-blue: #061C42;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

/* ------------LOGIN------------ */

.login-container {
    background-color: var(--1blue);
    background-image: url(/assets/img/login-img.png);
    background-size: cover;
    height: 100vh;

    padding-top: 50%;
    padding-left: 6%;
    padding-right: 6%;

}

.login-block {
    height: 440px;
    border-radius: 10px;
    background: linear-gradient(154.35deg, rgba(255, 255, 255, 0.81) 2.6%, rgba(255, 255, 255, 0.63) 98.31%);
}

#logo-login {
    width: 240px;
}